<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movies Results</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        h3 {
            text-align: center;
            color: #4CAF50;
        }

        form {
            text-align: center;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .card {
            width: 300px;
            margin: 15px;
            border: 1px solid #ccc;
            border-radius: 8px;
            overflow: hidden;
        }

        .card-img-container {
            width: 100%;
            height: 200px;
            background: linear-gradient(to right, #4CAF50 50%, #ddd 50%);
            overflow: hidden;
        }

        .card img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card-content {
            padding: 15px;
        }

        p {
            margin: 0;
        }
    </style>
    <script>
        console.log("Movies Data:", {{ movies }});
    </script>
</head>

<body>
    <h1>Movies Results</h1>
    {{#if movies}}
        {{#if movies.length}}
            <div class="card-container">
                {{#each movies}}
                    <div class="card">
                        <div class="card-img-container">
                            <img src="{{this.poster}}" onerror="this.src='/humber-logo.jpg';" alt="{{this.title}} Image">
                        </div>
                        <hr>
                        <div class="card-content">
                            <h3>{{this.title}}</h3>
                            <hr>
                            <p><strong>Genre:</strong> {{#each this.genres}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</p>
                            <p><strong>Plot:</strong> {{this.plot}}</p>
                            <p><strong>Release Year:</strong> {{this.year}}</p>
                            <p><strong>Runtime:</strong> {{this.runtime}} minutes</p>
                            <p><strong>Directors:</strong> {{#each this.directors}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</p>
                            <p><strong>Cast:</strong> {{#each this.cast}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</p>
                            <!-- Add more card content as needed based on your Movie model -->
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>No results found.</p>
        {{/if}}
    {{/if}}

    <hr>
</body>

</html>
